@font-face {
  font-family: 'Poppins-Medium';
  src: url("/fonts/admin/Poppins-Medium.eot");
  src: url("/fonts/admin/Poppins-Medium.woff2") format("woff2"), url("/fonts/admin/Poppins-Medium.woff") format("woff"), url("/fonts/admin/Poppins-Medium.ttf") format("truetype"), url("/fonts/admin/Poppins-Medium.svg#Poppins-Medium") format("svg"), url("/fonts/admin/Poppins-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Poppins-Regular';
  src: url("/fonts/admin/Poppins-Regular.eot");
  src: url("/fonts/admin/Poppins-Regular.woff2") format("woff2"), url("/fonts/admin/Poppins-Regular.woff") format("woff"), url("/fonts/admin/Poppins-Regular.ttf") format("truetype"), url("/fonts/admin/Poppins-Regular.svg#Poppins-Regular") format("svg"), url("/fonts/admin/Poppins-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("/fonts/admin/Poppins-SemiBold.eot");
  src: url("/fonts/admin/Poppins-SemiBold.woff2") format("woff2"), url("/fonts/admin/Poppins-SemiBold.woff") format("woff"), url("/fonts/admin/Poppins-SemiBold.ttf") format("truetype"), url("/fonts/admin/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg"), url("/fonts/admin/Poppins-SemiBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Bold';
  src: url("/fonts/admin/Gotham-Bold.eot");
  src: url("/fonts/admin/Gotham-Bold.woff2") format("woff2"), url("/fonts/admin/Gotham-Bold.woff") format("woff"), url("/fonts/admin/Gotham-Bold.ttf") format("truetype"), url("/fonts/admin/Gotham-Bold.svg#Gotham-Bold") format("svg"), url("/fonts/admin/Gotham-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Book';
  src: url("/fonts/admin/Gotham-Book.eot");
  src: url("/fonts/admin/Gotham-Book.woff2") format("woff2"), url("/fonts/admin/Gotham-Book.woff") format("woff"), url("/fonts/admin/Gotham-Book.ttf") format("truetype"), url("/fonts/admin/Gotham-Book.svg#Gotham-Book") format("svg"), url("/fonts/admin/Gotham-Book.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Light';
  src: url("/fonts/admin/Gotham-Light.eot");
  src: url("/fonts/admin/Gotham-Light.woff2") format("woff2"), url("/fonts/admin/Gotham-Light.woff") format("woff"), url("/fonts/admin/Gotham-Light.ttf") format("truetype"), url("/fonts/admin/Gotham-Light.svg#Gotham-Light") format("svg"), url("/fonts/admin/Gotham-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Medium';
  src: url("/fonts/admin/Gotham-Medium.eot");
  src: url("/fonts/admin/Gotham-Medium.woff2") format("woff2"), url("/fonts/admin/Gotham-Medium.woff") format("woff"), url("/fonts/admin/Gotham-Medium.ttf") format("truetype"), url("/fonts/admin/Gotham-Medium.svg#Gotham-Medium") format("svg"), url("/fonts/admin/Gotham-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
